/* Reset Styles */
body {
    margin: 0;
    font-family: Arial, sans-serif;
    background-image: url("bgimg.png");
    background-size: cover;
    background-position: center;
    height: 100vh; 
    display: flex; 
    justify-content: center; 
    align-items: center; 
    box-sizing: border-box; 
}

/* Explorer Container */
.explorer-container {
    width: 80%;
    max-height: 90%; 
    margin: 0 auto;
    border: 1px solid #ccc;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    background-color: #ffffff;
    display: flex;
    flex-direction: column;
    overflow-y: auto; 
}

/* Header Styles */
.explorer-top {
    display: flex;
    align-items: center;
    position: relative;
    margin: auto 10px;
}

.explorer-nav {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 5px;
    background-color: #f0f0f0;
    border-bottom: 1px solid #ccc;
}

.nav-buttons button,
.window-buttons button {
    background-color: #e0e0e0;
    border: none;
    padding: 2px 5px;
    margin: 0 2px;
    cursor: pointer;
    border-radius: 3px;
}

.window-buttons {
    position: absolute;
    top: 0;
    align-content: baseline;
    right: 0;
    padding-right: 10px;
    padding-top: 20px;
    
}
.window-buttons svg{
    background-color: grey;
}

.nav-buttons button:hover,
.window-buttons button:hover {
    background-color: #d0d0d0;
}

.address-bar {
    display: flex;
    align-items: center;
    flex-grow: 1;
    margin: 0 2px;
    padding-left: 20px;
}

.home-icon {
    width: 20px;
    height: 20px;
    margin-right: 10px;
}

.address-bar input {
    width: 100%;
    padding: 5px;
    border: 1px solid #ccc;
    border-radius: 5px;
    border-color: white;
}

/* Explorer Content */
.explorer-content {
    display: flex;
    padding: 20px;
    height: 100%;
}

/* Folder List */
.folder-list {
    width: 35%;
    background-color: #f9f9f9;
    padding-right: 20px;
    padding-left: 20px;
    border-radius: 5px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    height: auto; /* Let the list take the required height */
}
.folder-t{
    text-align: center;
    
    
}

.folder {
    display: flex;
    align-items: center;
    padding-left: 10px;
   
    cursor: pointer;
    
   margin-top: 20px;
    
}

.folder img {
    width: 40px;
    height: 40px;
    margin-right: 10px;
}

.folder span,.description span {
    font-size: 1em;
    color: #333;
}

.folder:hover {
    color: #0078d7;
}

/* Event Details Panel */
.date,
.venue {
    width: 35%;
    text-align: center;
    
    background-color: #f9f9f9;
    border-radius: 5px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    margin-left: 20px;
    /* Ensure the event details take the full height */
}
.description {
    display: flex;
    margin: 20px;
    padding: 10.8px;
    
}